@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

$blue: blue;

html,
body {
   width: 100%;
   height: 100%;
}
body {
   text-align: center;
   font-family: "Roboto", Avenir, Helvetica, Arial, sans-serif;
   font-weight: normal;
   color: #2c3e50;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
#app {
   position: relative;
}
.jh_full {
   position: relative;
   width: 100%;
   text-align: center;
   padding: 0 40px;
   background-color: $blue;
}
.jh_wrap {
   position: relative;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}
