.post {
   display: block;
   width: 32%;
   margin: 50px 0;
   margin-right: calc((100% / 3 - 32% ) * 3 / 2);
   cursor: pointer;
}
.post:nth-child(3n) {
   margin-right: 0;
}
.post_title > h2 {
   font-size: 24px;
   font-weight: bold;
   padding-bottom: 10px;
}

.post_imgwrap > img {
   width: 100%;
   height: 100%;
   max-width: 500px;
   border: 1px solid #ccc;
}

@media screen and (max-width: 1024px) {
   .post {
      width: 47%;
      margin: 30px 0;
   }
   .post_title > h2 {
      font-size: 20px;
   }
}
@media screen and (max-width: 640px) {
   .post {
      margin: 15px 0;
   }
   .post_title > h2 {
      font-size: 18px;
   }
}
@media screen and (max-width: 500px) {
   .post_title > h2 {
      font-size: 14px;
   }
}