html,
body {
   width: 100%;
   height: 100%;
}
body {
   text-align: center;
   font-family: "Roboto", Avenir, Helvetica, Arial, sans-serif;
   font-weight: normal;
   color: #2c3e50;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.jh_full {
   position: relative;
   width: 100%;
   max-width: 1920px;
   text-align: center;
}
.jh_wrap {
   position: relative;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}